@font-face {
  font-family: 'digital7_mono';
  src: url('./fonts/digital7_mono.woff2') format('woff2');
  src: url('./fonts/digital7_mono.svg#digital7_mono') format('svg');
}
:root {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'digital7_mono', 'Arial', sans-serif;
}
