[data-num='1'][data-size='eight'] {
  background-position: 0 0;
}
[data-num='2'][data-size='eight'] {
  background-position: 14% 0;
}
[data-num='3'][data-size='eight'] {
  background-position: 29% 0;
}
[data-num='4'][data-size='eight'] {
  background-position: 43% 0;
}
[data-num='5'][data-size='eight'] {
  background-position: 57% 0;
}
[data-num='6'][data-size='eight'] {
  background-position: 71% 0;
}
[data-num='7'][data-size='eight'] {
  background-position: 85% 0;
}
[data-num='8'][data-size='eight'] {
  background-position: 100% 0;
}


[data-num='9'][data-size='eight'] {
  background-position: 0 14%;
}
[data-num='10'][data-size='eight'] {
  background-position: 14% 14%;
}
[data-num='11'][data-size='eight'] {
  background-position: 29% 14%;
}
[data-num='12'][data-size='eight'] {
  background-position: 43% 14%;
}
[data-num='13'][data-size='eight'] {
  background-position: 57% 14%;
}
[data-num='14'][data-size='eight'] {
  background-position: 71% 14%;
}
[data-num='15'][data-size='eight'] {
  background-position: 85% 14%;
}
[data-num='16'][data-size='eight'] {
  background-position: 100% 14%;
}


[data-num='17'][data-size='eight'] {
  background-position: 0 29%;
}
[data-num='18'][data-size='eight'] {
  background-position: 14% 29%;
}
[data-num='19'][data-size='eight'] {
  background-position: 29% 29%;
}
[data-num='20'][data-size='eight'] {
  background-position: 43% 29%;
}
[data-num='21'][data-size='eight'] {
  background-position: 57% 29%;
}
[data-num='22'][data-size='eight'] {
  background-position: 71% 29%;
}
[data-num='23'][data-size='eight'] {
  background-position: 85% 29%;
}
[data-num='24'][data-size='eight'] {
  background-position: 100% 29%;
}


[data-num='25'][data-size='eight'] {
  background-position: 0 43%;
}
[data-num='26'][data-size='eight'] {
  background-position: 14% 43%;
}
[data-num='27'][data-size='eight'] {
  background-position: 29% 43%;
}
[data-num='28'][data-size='eight'] {
  background-position: 43% 43%;
}
[data-num='29'][data-size='eight'] {
  background-position: 57% 43%;
}
[data-num='30'][data-size='eight'] {
  background-position: 71% 43%;
}
[data-num='31'][data-size='eight'] {
  background-position: 85% 43%;
}
[data-num='32'][data-size='eight'] {
  background-position: 100% 43%;
}


[data-num='33'][data-size='eight'] {
  background-position: 0 57%;
}
[data-num='34'][data-size='eight'] {
  background-position: 14% 57%;
}
[data-num='35'][data-size='eight'] {
  background-position: 29% 57%;
}
[data-num='36'][data-size='eight'] {
  background-position: 43% 57%;
}
[data-num='37'][data-size='eight'] {
  background-position: 57% 57%;
}
[data-num='38'][data-size='eight'] {
  background-position: 71% 57%;
}
[data-num='39'][data-size='eight'] {
  background-position: 85% 57%;
}
[data-num='40'][data-size='eight'] {
  background-position: 100% 57%;
}



[data-num='41'][data-size='eight'] {
  background-position: 0 71%;
}
[data-num='42'][data-size='eight'] {
  background-position: 14% 71%;
}
[data-num='43'][data-size='eight'] {
  background-position: 29% 71%;
}
[data-num='44'][data-size='eight'] {
  background-position: 43% 71%;
}
[data-num='45'][data-size='eight'] {
  background-position: 57% 71%;
}
[data-num='46'][data-size='eight'] {
  background-position: 71% 71%;
}
[data-num='47'][data-size='eight'] {
  background-position: 85% 71%;
}
[data-num='48'][data-size='eight'] {
  background-position: 100% 71%;
}



[data-num='49'][data-size='eight'] {
  background-position: 0 86%;
}
[data-num='50'][data-size='eight'] {
  background-position: 14% 86%;
}
[data-num='51'][data-size='eight'] {
  background-position: 29% 86%;
}
[data-num='52'][data-size='eight'] {
  background-position: 43% 86%;
}
[data-num='53'][data-size='eight'] {
  background-position: 57% 86%;
}
[data-num='54'][data-size='eight'] {
  background-position: 71% 86%;
}
[data-num='55'][data-size='eight'] {
  background-position: 85% 86%;
}
[data-num='56'][data-size='eight'] {
  background-position: 100% 86%;
}


[data-num='57'][data-size='eight'] {
  background-position: 0 100%;
}
[data-num='58'][data-size='eight'] {
  background-position: 14% 100%;
}
[data-num='59'][data-size='eight'] {
  background-position: 29% 100%;
}
[data-num='60'][data-size='eight'] {
  background-position: 43% 100%;
}
[data-num='61'][data-size='eight'] {
  background-position: 57% 100%;
}
[data-num='62'][data-size='eight'] {
  background-position: 71% 100%;
}
[data-num='63'][data-size='eight'] {
  background-position: 85% 100%;
}
