[data-num='1'][data-size='seven'] {
  background-position: 0 0;
}
[data-num='2'][data-size='seven'] {
  background-position: 17% 0;
}
[data-num='3'][data-size='seven'] {
  background-position: 33% 0;
}
[data-num='4'][data-size='seven'] {
  background-position: 50% 0;
}
[data-num='5'][data-size='seven'] {
  background-position: 67% 0;
}
[data-num='6'][data-size='seven'] {
  background-position: 83% 0;
}
[data-num='7'][data-size='seven'] {
  background-position: 100% 0;
}

[data-num='8'][data-size='seven'] {
  background-position: 0 17%;
}
[data-num='9'][data-size='seven'] {
  background-position: 17% 17%;
}
[data-num='10'][data-size='seven'] {
  background-position: 33% 17%;
}
[data-num='11'][data-size='seven'] {
  background-position: 50% 17%;
}
[data-num='12'][data-size='seven'] {
  background-position: 67% 17%;
}
[data-num='13'][data-size='seven'] {
  background-position: 83% 17%;
}
[data-num='14'][data-size='seven'] {
  background-position: 100% 17%;
}

[data-num='15'][data-size='seven'] {
  background-position: 0 33%;
}
[data-num='16'][data-size='seven'] {
  background-position: 17% 33%;
}
[data-num='17'][data-size='seven'] {
  background-position: 33% 33%;
}
[data-num='18'][data-size='seven'] {
  background-position: 50% 33%;
}
[data-num='19'][data-size='seven'] {
  background-position: 67% 33%;
}
[data-num='20'][data-size='seven'] {
  background-position: 83% 33%;
}
[data-num='21'][data-size='seven'] {
  background-position: 100% 33%;
}

[data-num='22'][data-size='seven'] {
  background-position: 0 50%;
}
[data-num='23'][data-size='seven'] {
  background-position: 17% 50%;
}
[data-num='24'][data-size='seven'] {
  background-position: 33% 50%;
}
[data-num='25'][data-size='seven'] {
  background-position: 50% 50%;
}
[data-num='26'][data-size='seven'] {
  background-position: 67% 50%;
}
[data-num='27'][data-size='seven'] {
  background-position: 83% 50%;
}
[data-num='28'][data-size='seven'] {
  background-position: 100% 50%;
}

[data-num='29'][data-size='seven'] {
  background-position: 0 67%;
}
[data-num='30'][data-size='seven'] {
  background-position: 17% 67%;
}
[data-num='31'][data-size='seven'] {
  background-position: 33% 67%;
}
[data-num='32'][data-size='seven'] {
  background-position: 50% 67%;
}
[data-num='33'][data-size='seven'] {
  background-position: 67% 67%;
}
[data-num='34'][data-size='seven'] {
  background-position: 83% 67%;
}
[data-num='35'][data-size='seven'] {
  background-position: 100% 67%;
}

[data-num='36'][data-size='seven'] {
  background-position: 0 83%;
}
[data-num='37'][data-size='seven'] {
  background-position: 17% 83%;
}
[data-num='38'][data-size='seven'] {
  background-position: 33% 83%;
}
[data-num='39'][data-size='seven'] {
  background-position: 50% 83%;
}
[data-num='40'][data-size='seven'] {
  background-position: 67% 83%;
}
[data-num='41'][data-size='seven'] {
  background-position: 83% 83%;
}
[data-num='42'][data-size='seven'] {
  background-position: 100% 83%;
}

[data-num='43'][data-size='seven'] {
  background-position: 0 100%;
}
[data-num='44'][data-size='seven'] {
  background-position: 17% 100%;
}
[data-num='45'][data-size='seven'] {
  background-position: 33% 100%;
}
[data-num='46'][data-size='seven'] {
  background-position: 50% 100%;
}
[data-num='47'][data-size='seven'] {
  background-position: 67% 100%;
}
[data-num='48'][data-size='seven'] {
  background-position: 83% 100%;
}
