[data-num='1'][data-size='seven'] {
  background-position: 0 0;
}
[data-num='2'][data-size='seven'] {
  background-position: -72px 0;
}
[data-num='3'][data-size='seven'] {
  background-position: -143px 0;
}
[data-num='4'][data-size='seven'] {
  background-position: -214px 0;
}
[data-num='5'][data-size='seven'] {
  background-position: -286px 0;
}
[data-num='6'][data-size='seven'] {
  background-position: -357px 0;
}
[data-num='7'][data-size='seven'] {
  background-position: -429px 0;
}

[data-num='8'][data-size='seven'] {
  background-position: 0 -73px;
}
[data-num='9'][data-size='seven'] {
  background-position: -72px -73px;
}
[data-num='10'][data-size='seven'] {
  background-position: -143px -73px;
}
[data-num='11'][data-size='seven'] {
  background-position: -214px -73px;
}
[data-num='12'][data-size='seven'] {
  background-position: -286px -73px;
}
[data-num='13'][data-size='seven'] {
  background-position: -357px -73px;
}
[data-num='14'][data-size='seven'] {
  background-position: -429px -73px;
}

[data-num='15'][data-size='seven'] {
  background-position: 0 -144px;
}
[data-num='16'][data-size='seven'] {
  background-position: -72px -144px;
}
[data-num='17'][data-size='seven'] {
  background-position: -143px -144px;
}
[data-num='18'][data-size='seven'] {
  background-position: -214px -144px;
}
[data-num='19'][data-size='seven'] {
  background-position: -286px -144px;
}
[data-num='20'][data-size='seven'] {
  background-position: -357px -144px;
}
[data-num='21'][data-size='seven'] {
  background-position: -429px -144px;
}

[data-num='22'][data-size='seven'] {
  background-position: 0 -215px;
}
[data-num='23'][data-size='seven'] {
  background-position: -72px -215px;
}
[data-num='24'][data-size='seven'] {
  background-position: -143px -215px;
}
[data-num='25'][data-size='seven'] {
  background-position: -214px -215px;
}
[data-num='26'][data-size='seven'] {
  background-position: -286px -215px;
}
[data-num='27'][data-size='seven'] {
  background-position: -357px -215px;
}
[data-num='28'][data-size='seven'] {
  background-position: -429px -215px;
}

[data-num='29'][data-size='seven'] {
  background-position: 0 -286px;
}
[data-num='30'][data-size='seven'] {
  background-position: -72px -286px;
}
[data-num='31'][data-size='seven'] {
  background-position: -143px -286px;
}
[data-num='32'][data-size='seven'] {
  background-position: -214px -286px;
}
[data-num='33'][data-size='seven'] {
  background-position: -286px -286px;
}
[data-num='34'][data-size='seven'] {
  background-position: -357px -286px;
}
[data-num='35'][data-size='seven'] {
  background-position: -429px -286px;
}

[data-num='36'][data-size='seven'] {
  background-position: 0 -357px;
}
[data-num='37'][data-size='seven'] {
  background-position: -72px -357px;
}
[data-num='38'][data-size='seven'] {
  background-position: -143px -357px;
}
[data-num='39'][data-size='seven'] {
  background-position: -214px -357px;
}
[data-num='40'][data-size='seven'] {
  background-position: -286px -357px;
}
[data-num='41'][data-size='seven'] {
  background-position: -357px -357px;
}
[data-num='42'][data-size='seven'] {
  background-position: -429px -357px;
}

[data-num='43'][data-size='seven'] {
  background-position: 0 -428px;
}
[data-num='44'][data-size='seven'] {
  background-position: -72px -428px;
}
[data-num='45'][data-size='seven'] {
  background-position: -143px -428px;
}
[data-num='46'][data-size='seven'] {
  background-position: -214px -428px;
}
[data-num='47'][data-size='seven'] {
  background-position: -286px -428px;
}
[data-num='48'][data-size='seven'] {
  background-position: -357px -428px;
}
