[data-num='1'][data-size='six'] {
  background-position: 0 0;
}
[data-num='2'][data-size='six'] {
  background-position: -84px 0;
}
[data-num='3'][data-size='six'] {
  background-position: -167px 0;
}
[data-num='4'][data-size='six'] {
  background-position: -250px 0;
}
[data-num='5'][data-size='six'] {
  background-position: -333px 0;
}
[data-num='6'][data-size='six'] {
  background-position: -417px 0;
}


[data-num='7'][data-size='six'] {
  background-position: 0 -86px;
}
[data-num='8'][data-size='six'] {
  background-position: -84px -86px;
}
[data-num='9'][data-size='six'] {
  background-position: -167px -86px;
}
[data-num='10'][data-size='six'] {
  background-position: -250px -86px;
}
[data-num='11'][data-size='six'] {
  background-position: -333px -86px;
}
[data-num='12'][data-size='six'] {
  background-position: -417px -86px;
}


[data-num='13'][data-size='six'] {
  background-position: 0 -169px;
}
[data-num='14'][data-size='six'] {
  background-position: -84px -169px;
}
[data-num='15'][data-size='six'] {
  background-position: -167px -169px;
}
[data-num='16'][data-size='six'] {
  background-position: -250px -169px;
}
[data-num='17'][data-size='six'] {
  background-position: -333px -169px;
}
[data-num='18'][data-size='six'] {
  background-position: -417px -169px;
}

[data-num='19'][data-size='six'] {
  background-position: 0 -252px;
}
[data-num='20'][data-size='six'] {
  background-position: -84px -252px;
}
[data-num='21'][data-size='six'] {
  background-position: -167px -252px;
}
[data-num='22'][data-size='six'] {
  background-position: -250px -252px;
}
[data-num='23'][data-size='six'] {
  background-position: -333px -252px;
}
[data-num='24'][data-size='six'] {
  background-position: -417px -252px;
}

[data-num='25'][data-size='six'] {
  background-position: 0 -335px;
}
[data-num='26'][data-size='six'] {
  background-position: -84px -335px;
}
[data-num='27'][data-size='six'] {
  background-position: -167px -335px;
}
[data-num='28'][data-size='six'] {
  background-position: -250px -335px;
}
[data-num='29'][data-size='six'] {
  background-position: -333px -335px;
}
[data-num='30'][data-size='six'] {
  background-position: -417px -335px;
}

[data-num='31'][data-size='six'] {
  background-position: 0 -418px;
}
[data-num='32'][data-size='six'] {
  background-position: -84px -418px;
}
[data-num='33'][data-size='six'] {
  background-position: -167px -418px;
}
[data-num='34'][data-size='six'] {
  background-position: -250px -418px;
}
[data-num='35'][data-size='six'] {
  background-position: -333px -418px;
}
