body {
  background-image: url('../assets/image/chicago--bg.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  user-select: none;
  box-sizing: border-box;
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  background-color: #ffffff80;
}

.puzzle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0 auto;
  border-radius: 12px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  &__wrap {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 498px;
    height: 498px;
    border-radius: 12px;

    background: transparent;
  }

  &__info {
    position: absolute;
    top: -35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    font-size: 18px;

    z-index: -1;
  }

  &__control {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 166px;
    box-shadow: inset -1px -2px 12px #fff;
    border-radius: 12px;
  
    cursor: pointer;
    animation: 1s linear;
  }

  &__overlay {
    position: absolute;
    left: 50%;
    top: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    max-width: 498px;
    max-height: 562px;

    border-radius: 13px;
    background-color: #80808099;

    z-index: 1000;
    transform: translate(-50%, -50%);
  }

  &__form {
    display: flex;
    justify-content: flex-start;
  }

  &__popup {
    position: absolute;
  }

  &__message {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
.time {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  &__wrap {
    display: flex;
  }
}

#min {
  padding-left: 5px;
}

.step {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
  &__wrap {
    display: flex;
  }
}

#stepDisplay {
  display: block;
  padding-left: 3px;
  width: 37px;
  height: 22px;

  font-size: 18px;
}

.start,
.stop,
.pause,
.shuffle,
.select,
.sound,
.score {
  border: none;
  border-right: 1px solid #000000;

  font-size: 18px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);

  background: linear-gradient(#f3ae0f, #e38916) #e38916;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  outline: none;
  cursor: pointer;

  transition: all 0.3s linear;
  &:hover:enabled {
    background: #3ee33e;
  }
}

.score {
  border-right: none;
}

.zero {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  cursor: default;
}

.form {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-bottom-right-radius: 11px;
  &__field {
    height: 30px;
    border-top-left-radius: 11px;
    padding-left: 5px;
    border: none;
    outline: none;

    font-size: 20px;
  }

  &__btn {
    border: none;
    width: 30px;
    border-bottom-right-radius: 11px;

    outline: none;
    cursor: pointer;
    background: linear-gradient(#f3ae0f, #e38916) #e38916;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__message {
    transform: translateX(-14px);
    font-size: 13px;
    color: #ffffff;
  }
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;

  max-width: 498px;
  min-width: 320px;
  width: 100%;
  min-height: 498px;
  border-radius: 12px;

  background-color: #ffffff;
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 320px;
  }

  &__item {
    display: flex;
    padding: 10px 0;

    font-size: 18px;
  }

  &__nickname,
  &__steps,
  &__time {
    min-width: 20px;
    height: 20px;
    padding-right: 20px;

    font-size: 18px;
  }

  &__position {
    width: 30px;

    color: #a1d3ef;
  }

  &--active {
    display: flex;
  }
}

.message {
  display: none;
  width: 300px;
  height: 300px;
  border-radius: 12px;

  color: #ffffff;
  background-color: #57b32d80;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  z-index: 1000;
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__text {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px;

    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-weight: 800;

    line-height: 1;
    overflow: hidden;
    max-height: 300px;
  }

  &--active {
    display: flex;
  }
}

.hide {
  display: none;
}

.index {
  z-index: -1;
}

.shadow {
  box-shadow: none;
}

.on {
  background: #3ee33e;
}

@media (max-width: 500px) {
  .puzzle {
    &__overlay {
      top: 58%;
      max-height: 432px;
      max-width: 322px;
    }
    &__wrap {
      width: 320px;
      height: 320px;
    }
    &__control {
      flex-wrap: wrap;
      justify-content: center;
      bottom: -77px;
    }
  }

  .popup {
    max-height: 320px;
    height: 100%;
    min-height: unset;
    &__item {
      padding: 5px 10px;
    }
  }

  .stop,
  .select {
    border-right: 0;
  }
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
}

.to-top {
  animation-name: top;
}

.to-bottom {
  animation-name: bottom;
}

@keyframes left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}


@keyframes top {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes bottom {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateY(100%);
  }
}